#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
}

.board {
  width: 24rem;
  height: 24rem;
  border: 1px solid #7a7a7a;
  display: grid;
}

.Nokia_sample {
  position: absolute;
  top: -740px;
  left: calc(50% + 7px);
  transform: translateX(-50%);
  width: 1200px;
  z-index: 1;
  opacity: 0.4;
}

.Nokia {
  position: relative;
  height: 735px;
  width: 320px;
  background-color: blue;
  border-radius: 18% 18% 24% 24% / 26% 26% 32% 32%;
  overflow: hidden;
}

.main_buttons {
  position: absolute;
  top: 8px;
  height: 480px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: red;
  border-radius: 18% 18% 45% 45% / 36% 36% 50% 50%;
  overflow: hidden;
}
.big_button {
  position: absolute;
  width: 120px;
  height: 30px;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 100%/50% 50% 150% 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big_button::after {
  position: absolute;
  top: -3px;
  content: "";
  display: block;
  width: 60px;
  height: 14px;
  border: solid 4px white;
  border-radius: 90%;
  border-color: transparent transparent white transparent;
}

.c_button {
  position: absolute;
  position: absolute;
  width: 62px;
  height: 40px;
  top: 421px;
  left: 19%;
  transform: translateX(-50%);
  background-color: black;
  rotate: 33deg;
  border-radius: 20px 10px 10px 20px / 40px 10px 20px 40px;
}
